body {
    background-color: #bbbbbb;
} 

header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.conteudo {
    width: 940px;
    /*border: 1px dotted black;*/
    border-radius: 10px;
    background: #cac9c9;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding-left: 270px; */
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 220px;
    margin-bottom: 30px;
}

.conteudo h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 30px;
}

.contatos {
    width: 940px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.contatos strong {
    font-weight: bold;
}

footer {
    text-align: center;
    background-image: url(../Imagens/bg.jpg);
    padding: 40px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}